# Variables de entorno
**/.env
**/.env.local
**/.env.development
**/.env.production

# Dependencias
**/node_modules/

# Compilaciones
**/dist/
**/dist-ssr/

# Vite
**/.vite/

# Sistema / editores
.DS_Store
Thumbs.db
.vscode/
.idea/
